h1 {
    color:black;
    justify-content:center ;
    padding-bottom: 10%;
  
}
 

.header{
    background-color: orange;
    background-color:  blue;

 
    display: flex;
    justify-content: space-between;
}
body{
    background-color: coral;
}
.hyperlinks{
    border: solid;
    display: flex;
    justify-content:space-between ;
}
a:link{
    color:white;
}
a:visited{
    color: cyan;
}

h2{
    padding-right: 70%;
    color: crimson;
}